/* main colors
#46344e
shade #231a27 (text)
tint #908595
#faed26
shade #191804
tint #fefbd4 (background)



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  color: #231a27;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.heading-primary {
  font-size: 4.8rem;
  line-height: 1;
  padding-bottom: 4.8rem;
  letter-spacing: -1px;
  font-weight: 600;
}
.heading-secondary {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #231a27;
  margin-bottom: 3rem;
}
.heading-span {
  display: inline-block;
  border-top: 2px solid #faed26;
  border-left: 2px solid #faed26;
  padding-left: 0.5rem;
}
