/* 
*
*
*
*
NAVIGATION
*
*
*
* 
*/
.nav {
  background-color: #fffde9;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #46344e;
  display: inline-block;
}
.nav-link:hover,
.nav-link:active {
  /* text-decoration: underline; */
  box-shadow: 0 1.2px #46344e;
}
.nav-icon {
  width: 1.8rem;
  height: 1.8rem;
  font-weight: 900;
  stroke: #46344e;
  background-color: #faed26;
  border-radius: 50%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.nav-call-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-address {
  font-size: 1.4rem;
  font-weight: 700;
  color: #46344e;
}
.nav-links-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/* 
*
*
*
*
HERO
*
*
*
*
 */

.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 4.8rem;
  background-color: #fffde9;
}
.hero-text-box {
  padding: 8.8rem;
}
.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img {
  box-shadow: 50px 30px #faed26, 16px -30px #46344e;
  max-width: 100%;
}
.shop-name {
  display: inline-block;
  background-color: #faed26;
  padding: 5px;
  box-shadow: 10px 10px #46344e;
}

.hero-description {
  font-size: 1.6rem;
  line-height: 1.8;
  padding-bottom: 7.8rem;
}

.hero-stats-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 9rem;
}

.hero-stats-number {
  font-size: 3.8rem;
  font-weight: 800;
  color: #46344e;
  padding-bottom: 1rem;
}

.hero-stats-text {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 1px;
}

.hero-stats-number::before {
  border-top: 3px solid #faed26;
  content: "";
  display: block;
  margin-left: -10%;
  width: 30%;
}

/* 
*
*
*
*
CARDS
*
*
*
*
 */

.section-cards {
  padding-top: 12rem;
}

.cards-box {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}
.card {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  background-color: #fffde9;
}
.card:hover {
  transform: scale(1.05);
}
.card-img {
  width: 100%;
}
.cards-text {
  padding: 2rem;
}

.cards-heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  display: block;
  border-bottom: 2px solid #faed26;
  border-left: 2px solid #faed26;
}
.card-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* padding-left: 3rem; */
}
.card-list-item {
  font-size: 1.6rem;
  font-weight: 600;
  list-style: none;
  text-align: center;
}

/* 
*
*
*
*
Features
*
*
*
*
 */
.section-features {
  padding-top: 12rem;
}

.features-box {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.feature {
  text-align: center;
}
.feature-icon {
  font-size: 4rem;
  font-weight: 900;
  stroke: #46344e;
  background-color: #faed26;
  border-radius: 50%;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.feature-heading {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1.8rem;
}
.feature-text {
  padding: 0 1.2rem;
  font-size: 1.2rem;
  line-height: 1.6;
}
.section-end {
  padding-top: 15rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.6;
  padding-bottom: 6.8rem;
}
